:root {
  --dark-green: #588317;
  --light-green: #75b11c;
  --board-light: #f0d9b5;
  --board-dark: #b58863;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--light-green);
  color: #eee;
  overflow: hidden; /* Prevent scrolling if everything fits */
}
