services:
  server:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app:z
      - /usr/src/app/node_modules
    command: npm run dev
    depends_on:
      - db
    environment:
      - NODE_ENV=development
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./init-db:/docker-entrypoint-initdb.d:z
volumes:
  postgres-data:
